<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kk.resource_server.repository.UserMapper">
  <insert id="save">
    INSERT INTO t_sys_user(username,user_code, password) VALUES(#{username},#{userCode}, #{password})
  </insert>

  <select id="findByUserName" resultType="org.kk.resource_server.domain.User">
    SELECT * FROM t_sys_user WHERE username = #{username}
  </select>
</mapper>